{template "header.html"}

{if is_file(WRITEPATH.'password_log.php') && $ci->_is_admin_auth('password_log/index')}
<div class="note note-danger">
    <p><a style="color: red" href="{dr_url('password_log/index')}">{dr_lang('存在后台密码登录错误记录，若不是你本人操作，请及时修改密码和修改后台入口文件')}</a></p>
</div>
{/if}

{if IS_DEV && $admin.adminid==1 && !IS_OEM_CMS}
    <div class="note note-danger">
        <p><a style="color: red" href="javascript:dr_help(204);">{dr_lang('当前环境参数已经开启开发者模式，项目上线后建议关闭开发者模式')}</a></p>
    </div>
{/if}

<div class="row">

    <div class="col-md-6 col-sm-6">

        {if $ci->_is_admin_auth('')}
        <div class="portlet light bordered myportlet ">
            <div class="portlet-title tabbable-line">
                <div class="caption">
                    <i class="fa fa-cog"></i>
                    <span class="caption-subject"> <a href="{dr_url('cloud/index')}">{dr_lang('程序信息')}</a> </span>
                </div>
            </div>
            <div class="portlet-body">

                <ul class="use-info">
                    {if IS_OEM_CMS}
                    <li>
                        <span>{dr_lang('系统版本')}</span>
                        <a target="_blank" href="{$license.url}">{$cmf_version}</a>
                        <a id="dr_cmf_update" href="{dr_url('cloud/update')}" style="margin-left: 10px;display: none" class="badge badge-danger badge-roundless">  </a>
                    </li>

                    <li>
                        <span>{dr_lang('官方网站')}</span>
                        <a target="_blank" href="{$license.url}" style="margin-right: 10px;">{$license.name}</a>
                    </li>
                    {else}
                    <li>
                        <span>{dr_lang('系统版本')}</span>
                        <a target="_blank" href="https://www.xunruicms.com/version/">{$cmf_version}</a>
                        <a id="dr_cmf_update" href="{dr_url('cloud/update')}" style="margin-left: 10px;display: none" class="badge badge-danger badge-roundless">  </a>
                    </li>
                    <li style="overflow: initial;">
                        <span>{dr_lang('系统内核')}</span>
                        <a href="https://www.xunruicms.com/frame/" target="_blank">{FRAME_NAME}（{FRAME_VERSION}）</a>
                    </li>

                    <li>
                        <span>{dr_lang('官方网站')}</span>
                        <a target="_blank" href="https://www.xunruicms.com/" style="margin-right: 10px;">www.xunruicms.com</a>
                    </li>
                    {/if}
                    <script>
                        $(function () {
                            {if !defined('SYS_NOT_UPDATE') || !SYS_NOT_UPDATE}
                            dr_check_version();
                            {else}
                            $('#dr_cmf_update').removeClass('badge-danger');
                            $('#dr_cmf_update').show();
                            $('#dr_cmf_update').attr('href', 'javascript:dr_check_version();');
                            $('#dr_cmf_update').html('{dr_lang('检测版本')}');
                            {/if}
                        });
                        function dr_check_version(){
                            $('#dr_cmf_update').html('{dr_lang('检测版本进行中...')}');
                            $.ajax({type: "GET",dataType:"json", url: "{dr_url('cloud/check_version')}&id=cms-1&isindex=1&version={CMF_VERSION}",
                                success: function(json) {
                                    if (json.code) {
                                        $('#dr_cmf_update').addClass('badge-danger');
                                        $('#dr_cmf_update').show();
                                        $('#dr_cmf_update').html(json.msg);
                                    } else {
                                        $('#dr_cmf_update').html("");
                                    }
                                }
                            });
                        }
                    </script>
                </ul>
            </div>
        </div>
        {/if}
        {template "main/couts.html"}
    </div>

    <div class="col-md-6 col-sm-6">
        {template "main/notice.html"}
    </div>
</div>
{template "footer.html"}