{template "install/header.html"}

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-file-text-o font-green"></i>
            <span class="caption-subject font-green">软件使用协议</span>
        </div>
    </div>
    <div class="portlet-body" style="line-height: 24px;">
            <!--s-->
            XunRuiCMS基于MIT开源协议发布，免费且不限制商业使用。<br><br>
            在使用之前均需仔细阅读本协议，在理解、同意、并遵守本协议的全部条款后，方可开始使用，内容如下：<br>
            1、用户出于自愿而使用XunRuiCMS，必须了解使用XunRuiCMS的风险，XunRuiCMS不承担任何因使用XunRuiCMS而产生问题的相关责任。<br>
            2、通过使用XunRuiCMS的项目中的任何内容（文字、图片、视频等）所引起的纠纷、争议及所涉及的法律责任由项目所有者承担，XunRuiCMS不承担任何直接、间接或者连带的责任。<br>
            3、XunRuiCMS不对使用所构建的项目的任何信息内容以及导致的任何版权纠纷和法律争议及后果承担责任。<br>
            4、在任何情况下，对项目所有者及第三人可能造成的损失，XunRuiCMS不承担任何直接、间接或者连带的责任。<br>
            5、任何由于黑客攻击、计算机病毒侵入或发作、因政府管制而造成的暂时性关闭等影响网络正常经营的不可抗力而造成的损失，XunRuiCMS不承担任何直接、间接或者连带的责任。<br>
            6、在源码的使用过程中所造成的个人资料泄露及由此而导致的任何法律争议和后果，XunRuiCMS不承担任何直接、间接或者连带的责任。<br>
            <!--e-->
    </div>
    <div class="portlet-title" style="min-height: 18px;">
    </div>
    <div class="portlet-body text-center">
        <a href="javascript:;" disabled="" id="ok" class="btn btn-success"> ... </a>
    </div>
</div>
<script>
    var Seconds = 10;
    var setIntervalID;
    function ok() {
        var ok = $("#ok");
        if (Seconds <= 0) {
            ok.html("同意协议");
            ok.attr('href', '{$next_url}');
            ok.attr('disabled', false);
            clearInterval(setIntervalID);
        } else {
            ok.html("请仔细阅读协议还剩下（" + Seconds + "）秒");
        }
        Seconds--;
    }
    setIntervalID=setInterval("ok()", 1000);
</script>
{template "install/footer.html"}