{template "install/header.html"}

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-refresh font-green"></i>
            <span class="caption-subject font-green">{dr_lang('环境监测')}</span>
        </div>
    </div>
    <div class="portlet-body ">
        <form action="#" class="form-horizontal form-bordered ">
            <div class="form-body">
                <div class="form-group">
                    <label class="control-label col-md-3">{dr_lang('PHP版本')}</label>
                    <div class="col-md-9">
                        <p class="form-control-static"> {PHP_VERSION} </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">{dr_lang('PHP版本要求')}</label>
                    <div class="col-md-9">
                        <p class="form-control-static"> {FRAME_PHP_VERSION}{dr_lang('及以上版本')} </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">{dr_lang('MySQL版本要求')}</label>
                    <div class="col-md-9">
                        <p class="form-control-static"> {dr_lang('5.6及以上版本')} </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">{dr_lang('目录读写权限')}</label>
                    <div class="col-md-9" style="margin-top:-1px;">
                        {loop $path $name $code}
                        <p style="margin:10px 0;{if !$code}color:red{/if}"> {if !$code}[{dr_lang('错误')}]{else}[{dr_lang('正确')}]{/if}&nbsp;&nbsp;{$name} </p>
                        {/loop}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">{dr_lang('PHP环境检测')}</label>
                    <div class="col-md-9" style="margin-top:-1px;">
                        {loop $php $t}
                        {if !$t.code}
                        <p style="margin:10px 0;color:red"> <?php $error = 1;?>[{dr_lang('不支持')}]&nbsp;&nbsp;{$t.name} &nbsp; &nbsp;<a href="{$t.help}" target="_blank">查看帮助</a></p>
                        {else}
                        <p style="margin:10px 0;"> [{dr_lang('支持')}]&nbsp;&nbsp;{$t.name} </p>
                        {/if}
                        {/loop}
                    </div>
                </div>
            </div>

        </form>
    </div>
    <div class="portlet-title" style="min-height: 18px;">
    </div>
    <div class="portlet-body text-center">
        {if $error}
        <button type="button" class="btn default"> {dr_lang('无法进行下一步安装')} </button>
        {else}
        <a href="{$next_url}" class="btn btn-success"> {dr_lang('下一步安装')} </a>
        {/if}
    </div>
</div>

{template "install/footer.html"}