{template "install/header.html"}

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-edit font-green"></i>
            <span class="caption-subject font-green">{dr_lang('项目信息')}</span>
        </div>
    </div>
    <div class="portlet-body ">
            <form action="#" id="myform" class="form-horizontal form-bordered ">
                {dr_form_hidden()}
                <div class="form-body">
                    <div class="form-group">
                        <label class="control-label col-md-3">{dr_lang('项目地址')}</label>
                        <div class="col-md-7">
                            <p class="form-control-static" id="url"> {FC_NOW_HOST} </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">{dr_lang('项目名称')}</label>
                        <div class="col-md-7">
                            <input type="text" name="data[name]" value="{dr_lang('我的项目')}" class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">{dr_lang('创始人邮箱')}</label>
                        <div class="col-md-7">
                            <input type="text" name="data[email]" value="admin@admin.com" class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">{dr_lang('创始人账号')}</label>
                        <div class="col-md-7">
                            <input type="text" name="data[username]" value="admin" class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">{dr_lang('创始人密码')}</label>
                        <div class="col-md-7">
                            <input type="text" name="data[password]" value="admin" class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">{dr_lang('数据库地址')}</label>
                        <div class="col-md-7">
                            <input type="text" name="data[db_host]" value="127.0.0.1" class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">{dr_lang('数据库账号')}</label>
                        <div class="col-md-7">
                            <input type="text" name="data[db_user]" value="" class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">{dr_lang('数据库密码')}</label>
                        <div class="col-md-7">
                            <input type="text" name="data[db_pass]" value="" class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">{dr_lang('数据库名称')}</label>
                        <div class="col-md-7">
                            <input type="text" name="data[db_name]" value="" class="form-control" placeholder="">

                            <p class="help-block"> {dr_lang('当提示Unknown database时，请先创建数据库后再进行下一步')} </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">{dr_lang('数据表前缀')}</label>
                        <div class="col-md-7">
                            <input type="text" name="data[db_prefix]" value="dr_" class="form-control" placeholder="">
                        </div>
                    </div>
                    {if $is_demo}
                    <div class="form-group">
                        <label class="control-label col-md-3">{dr_lang('安装测试数据')}</label>
                        <div class="col-md-7">
                            <div class="mt-radio-inline">
                                <label class="mt-radio">
                                    <input type="radio" name="is_install_db" value="1" checked=""> {dr_lang('安装')}
                                    <span></span>
                                </label>
                                <label class="mt-radio">
                                    <input type="radio" name="is_install_db" value="0"> {dr_lang('不安装')}
                                    <span></span>
                                </label>
                            </div>
                            <p class="help-block"> {dr_lang('新手建议选择安装测试数据，方便快速入门')} </p>
                        </div>
                    </div>
                    {/if}
                </div>

            </form>
    </div>
    <div class="portlet-title" style="min-height: 18px;"></div>
    <div class="portlet-body text-center">
        <a href="javascript:dr_next_install();" type='submit' class="btn btn-success"> {dr_lang('下一步安装')} </a>
    </div>
    <div class="portlet-body text-center" id="dr_loading" style="display: none; color:blue;">
        {dr_lang('正在安装中（这个过程一般不超过30秒）')}...
    </div>
</div>
<script>
    $('#url').html(document.location.protocol+'//{DOMAIN_NAME}/');
    function dr_next_install() {
        var loading = layer.load(2, {
            shade: [0.3,'#fff'], //0.1透明度的白色背景
            time: 100000000
        });
        $('#dr_loading').show();
        $.ajax({type: "POST",dataType:"json", url: '{$do_url}', data: $("#myform").serialize(),
            success: function(json) {
                if (json.code == 1) {
                    window.location.href = json.msg;
                } else {
                    layer.close(loading);
                    layer.alert(json.msg);
					$('#dr_loading').hide();
                }
            },
            error: function(HttpRequest, ajaxOptions, thrownError) {
                layer.closeAll('loading');
                $('#dr_loading').hide();
                layer.open({
                    type: 1,
                    title: "{dr_lang('系统故障')}",
                    fix:true,
                    shadeClose: true,
                    shade: 0,
                    area: ['50%', '50%'],
                    content: "<div style=\"padding:10px;\">"+HttpRequest.responseText+"</div>"
                });
            }
        });
    }
</script>
{template "install/footer.html"}