{template "install/header.html"}

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-laptop font-green"></i>
            <span class="caption-subject font-green">{dr_lang('安装结果')}</span>
        </div>
    </div>
    <div class="portlet-body " style="padding:0 50px;">


            {if $error}
            <div class="scroller" style="height:300px" data-rail-visible="1">
                {nl2br($error)}
            </div>
            {else}
            <div class="row">
                <div class="col-md-4 text-center" style="padding-top: 120px;">
                    <i class="fa fa-check-circle font-green" style="font-size: 80px;"></i>
                </div>
                <div class="col-md-8 text-left font-green" style="padding-top: 50px;">
                    <p style="padding-top:15px;font-size: 30px;">{dr_lang('安装完成')}</p>
                    <p>{dr_lang('账号')}：{$data.username}</p>
                    <p>{dr_lang('密码')}：{$data.password}</p>
					<p style="padding-top: 20px;"><a href="{$admin}.php?c=login" onclick="dr_next_install()" class="btn btn-success"> {dr_lang('登录项目后台')} </a></p>
                </div>
            </div>
            <script>
                function dr_next_install() {
                    var loading = layer.load(2, {
                        shade: [0.3,'#fff'], //0.1透明度的白色背景
                        time: 100000000
                    });
                }
            </script>
            {/if}

    </div>
    <div class="portlet-title" style="min-height: 18px;">
    </div>
    <div class="portlet-body text-center">
        {if $error}
        <a href="{$pre_url}" class="btn btn-success"> {dr_lang('返回上一步')} </a>
        {/if}
    </div>
</div>
{template "install/footer.html"}