<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <title>{dr_lang('安装程序')} - {DR_NAME}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link href="{THEME_PATH}assets/icon/css/icon.css?v={CMF_UPDATE_TIME}"rel="stylesheet" type="text/css" />
    <link href="{THEME_PATH}assets/global/css/admin.min.css?v={CMF_UPDATE_TIME}" rel="stylesheet" type="text/css" />
    <link href="{THEME_PATH}assets/global/css/login.min.css?v={CMF_UPDATE_TIME}" rel="stylesheet" type="text/css" />
    <script type="text/javascript">var admin_file = '{SELF}'; var assets_path = '{THEME_PATH}assets/';</script>
    <script src="{THEME_PATH}assets/global/plugins/jquery.min.js?v={CMF_UPDATE_TIME}" type="text/javascript"></script>
    <script src="{THEME_PATH}assets/global/plugins/bootstrap/js/bootstrap.min.js?v={CMF_UPDATE_TIME}" type="text/javascript"></script>
    <script src="{THEME_PATH}assets/global/scripts/app.min.js?v={CMF_UPDATE_TIME}" type="text/javascript"></script>
    <script src="{LANG_PATH}lang.js" type="text/javascript"></script>
    <script src="{THEME_PATH}assets/js/cms.js?v={CMF_UPDATE_TIME}" type="text/javascript"></script>
    <style>
        .page-container-bg-solid .page-content {
            background: none !important;
        }
		.page-content-wrapper .page-content {
			margin-left:0 !important;
		}
    </style>
</head>
<body class="page-container-bg-solid login">

<div class="logo" style="margin: 40px auto 0px;">
    <a href="javascript:;"><img src="{THEME_PATH}assets/logo-web.png"> </a>
</div>

<div class="page-container">
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="container" style="width:800px;">
                <div class="page-content-inner">