{template "header.html"}

<form class="form-horizontal" method="post" role="form" id="myform">
    {$form}
    <div class="form-body">

        {if !$one}
        <div class="form-group" id="dr_row_name">
            <label class="col-xs-3 control-label ajax_name" style="padding-top: 0">{dr_lang('文件名称')}</label>
            <div class="col-xs-8">
                <input type="text" class="form-control" id="dr_name" name="data[name]" value="{$name}">
            </div>
        </div>
        {/if}
        <div class="form-group" id="dr_row_url">
            <label class="col-xs-3 control-label ajax_name" style="padding-top: 0">{dr_lang('文件地址')}</label>
            <div class="col-xs-8">
                <input type="text" class="form-control" id="dr_url" name="data[url]" value="{$file}">
            </div>
        </div>
        <div class="form-group" id="dr_row_down">
            <label class="col-xs-3 control-label ajax_name" style="padding-top: 0">{dr_lang('下载文件')}</label>
            <div class="col-xs-8">
                <div class="mt-radio-inline">
                    <label class="mt-radio mt-radio-outline"><input type="radio" name="data[down]" value="1" {if $data['down']}checked{/if} /> {dr_lang('是')} <span></span></label>
                    <label class="mt-radio mt-radio-outline"><input type="radio" name="data[down]" value="0" {if empty($data['down'])}checked{/if} /> {dr_lang('否')} <span></span></label>
                </div>
                <span class="help-block"> {dr_lang('当目标文件过大或者对方服务器拒绝下载时会导致下载失败')} </span>
            </div>
        </div>
    </div>
</form>

{template "footer.html"}