<div class="scroller_{$name}_files">
    <div mid="{$mid}" class="scroller" data-inited="0" data-initialized="1" data-always-visible="1" data-rail-visible="1">
        <table class="table table-striped table-bordered fc-sku-table table-hover">
            <thead>
            <tr>
                <th width="90" style="border-left-width: 1px!important;">ID </th>
                <th>{$cname}</th>
                {if !$is_show}
                <th width="50"> </th>
                {/if}
            </tr>
            </thead>
            <tbody id="related_{$name}-sort-items" class="scroller_body">
            <!--list-->
            {loop $mylist $t}
            <tr id="dr_items_{$name}_{$t.id}">
                <td>{$t.id}</td>
                <td>
                    <a href="{dr_url_prefix($t.url)}" target="_blank">{$t.title}</a>
                    <input type="hidden" name="data[{$name}][]" value="{$t.id}">
                </td>
                {if !$is_show}
                <td width="45"><a class="btn btn-xs red" href="javascript:;" onclick="$('#dr_items_{$name}_{$t.id}').remove()"><i class="fa fa-trash"></i></a></td>
                {/if}
            </tr>
            {/loop}
            <!--list-->
            </tbody>
        </table>
    </div>
</div>