{template "header.html"}

<form action="" class="form-horizontal" method="post" name="myform" id="myform">
    {$form}
    <div class="myfbody">
    <div class="portlet bordered light ">
        <div class="portlet-title tabbable-line">
            <ul class="nav nav-tabs" style="float:left;">
                <li class="{if $page==0}active{/if}">
                    <a href="#tab_0" data-toggle="tab" onclick="$('#dr_page').val('0')"> <i class="fa fa-cog"></i> {dr_lang('附件设置')} </a>
                </li>
                <li class="{if $page==3}active{/if}">
                    <a href="#tab_3" data-toggle="tab" onclick="$('#dr_page').val('3')"> <i class="fa fa-download"></i> {dr_lang('下载设置')} </a>
                </li>
                <li class="{if $page==2}active{/if}">
                    <a href="#tab_2" data-toggle="tab" onclick="$('#dr_page').val('2')"> <i class="fa fa-user"></i> {dr_lang('头像存储')} </a>
                </li>
                {if IS_USE_MODULE}
                <li class="{if $page==1}active{/if}">
                    <a href="#tab_1" data-toggle="tab" onclick="$('#dr_page').val('1')"> <i class="fa fa-photo"></i> {if IS_SITES}{dr_lang('[%s]缩略图', SITE_NAME)}{else}{dr_lang('缩略图')}{/if} </a>
                </li>
                {/if}
            </ul>
        </div>
        <div class="portlet-body">
            <div class="tab-content">

                <div class="tab-pane {if $page==3}active{/if}" id="tab_3">
                    <div class="form-body">

                        <div class="form-group">
                            <label class="col-md-2 control-label">{dr_lang('附件下载重命名')}</label>
                            <div class="col-md-9">
                                <div class="input-group input-small">
                                    <input class="form-control " type="text" name="data[SYS_ATTACHMENT_DOWN_SIZE]" value="{php echo $data['SYS_ATTACHMENT_DOWN_SIZE']?$data['SYS_ATTACHMENT_DOWN_SIZE']:50;}" >
                                    <span class="input-group-btn">
                                            <button class="btn blue" onclick="dr_test_domain_dir('dr_attachment_dir')" type="button">MB</button>
                                        </span>
                                </div>
                                <span class="help-block">{dr_lang('控制附件重命名条件，在多少MB以内才支持附件下载重命名，超出就按储存名显示，设置的参数越大可能会下载失败')}</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">{dr_lang('远程附件下载命名')}</label>
                            <div class="col-md-9">
                                <div class="mt-radio-inline">
                                    <label class="mt-radio mt-radio-outline"><input type="radio" name="data[SYS_ATTACHMENT_DOWN_REMOTE]" value="0" {if empty($data['SYS_ATTACHMENT_DOWN_REMOTE'])}checked{/if} /> {dr_lang('储存名')} <span></span></label>
                                    <label class="mt-radio mt-radio-outline"><input type="radio" name="data[SYS_ATTACHMENT_DOWN_REMOTE]" value="1" {if $data['SYS_ATTACHMENT_DOWN_REMOTE']}checked{/if} /> {dr_lang('文件名')} <span></span></label>
                                </div>
                                <span class="help-block">{dr_lang('下载附件时对远程储存的附件进行重命名，按储存名下载效率更高')}</span>
                                <span class="help-block">{dr_lang('储存名指随机字符名字，文件名指后台可修改的名字')}</span>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="tab-pane {if $page==0}active{/if}" id="tab_0">
                    <div class="form-body">

                        <div class="form-group">
                            <label class="col-md-2 control-label">{dr_lang('附件归档')}</label>
                            <div class="col-md-9">
                                <div class="mt-radio-inline">
                                    <label class="mt-radio mt-radio-outline"><input type="radio" name="data[SYS_ATTACHMENT_DB]" value="1" {if $data['SYS_ATTACHMENT_DB']}checked{/if} /> {dr_lang('开启')} <span></span></label>
                                    <label class="mt-radio mt-radio-outline"><input type="radio" name="data[SYS_ATTACHMENT_DB]" value="0" {if empty($data['SYS_ATTACHMENT_DB'])}checked{/if} /> {dr_lang('关闭')} <span></span></label>
                                </div>
                                <span class="help-block">{dr_lang('附件将分为已使用的附件和未使用的附件，归档存储')}</span>
                            </div>
                        </div>

                        {if !IS_USE_MEMBER}
                        <div class="form-group">
                            <label class="col-md-2 control-label">{dr_lang('游客上传')}</label>
                            <div class="col-md-9">
                                <div class="mt-radio-inline">
                                    <label class="mt-radio mt-radio-outline"><input type="radio" name="data[SYS_ATTACHMENT_GUEST]" value="1" {if $data['SYS_ATTACHMENT_GUEST']}checked{/if} /> {dr_lang('开启')} <span></span></label>
                                    <label class="mt-radio mt-radio-outline"><input type="radio" name="data[SYS_ATTACHMENT_GUEST]" value="0" {if empty($data['SYS_ATTACHMENT_GUEST'])}checked{/if} /> {dr_lang('关闭')} <span></span></label>
                                </div>
                                <span class="help-block">{dr_lang('开启游客上传附件的权限')}</span>
                            </div>
                        </div>
                        {/if}

                        <div class="form-group">
                            <label class="col-md-2 control-label">{dr_lang('防止重复上传')}</label>
                            <div class="col-md-9">
                                <div class="mt-radio-inline">
                                    <label class="mt-radio mt-radio-outline"><input type="radio" name="data[SYS_ATTACHMENT_CF]" value="1" {if $data['SYS_ATTACHMENT_CF']}checked{/if} /> {dr_lang('开启')} <span></span></label>
                                    <label class="mt-radio mt-radio-outline"><input type="radio" name="data[SYS_ATTACHMENT_CF]" value="0" {if empty($data['SYS_ATTACHMENT_CF'])}checked{/if} /> {dr_lang('关闭')} <span></span></label>
                                </div>
                                <span class="help-block">{dr_lang('当存在重复上传同一文件时，只存储一个文件')}</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">{dr_lang('浏览附件分页')}</label>
                            <div class="col-md-9">
                                <label><input class="form-control" type="text" name="data[SYS_ATTACHMENT_PAGESIZE]" value="{php echo $data['SYS_ATTACHMENT_PAGESIZE']?$data['SYS_ATTACHMENT_PAGESIZE']:36;}" ></label>
                                <span class="help-block">{dr_lang('在浏览附件界面中每页显示的数量控制')}</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">{dr_lang('上传安全策略')}</label>
                            <div class="col-md-9">
                                <div class="mt-radio-inline">
                                    <label class="mt-radio mt-radio-outline"><input type="radio" name="data[SYS_ATTACHMENT_SAFE]" value="0" {if empty($data['SYS_ATTACHMENT_SAFE'])}checked{/if} /> {dr_lang('严格模式')} <span></span></label>
                                    <label class="mt-radio mt-radio-outline"><input type="radio" name="data[SYS_ATTACHMENT_SAFE]" value="1" {if $data['SYS_ATTACHMENT_SAFE']}checked{/if} /> {dr_lang('宽松模式')} <span></span></label>
                                </div>
                                <span class="help-block">{dr_lang('严格模式将对文件进行全面检测是否存在非法特征')}</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">{dr_lang('全局存储策略')}</label>
                            <div class="col-md-9">
                                <label>
                                    <select name="data[SYS_ATTACHMENT_SAVE_ID]" class="form-control">
                                        <option value="0"> {dr_lang('按字段分别设置')} </option>
                                        {loop $remote $t}
                                        <option value="{$t.id}" {if $data['SYS_ATTACHMENT_SAVE_ID'] == $t.id} selected{/if}> {dr_lang($t.name)} </option>
                                        {/loop}
                                    </select>
                                </label>
                                <span class="help-block">{dr_lang('设置全局存储时，全站附件上传都会存储到此存储策略中')}</span>
                                <span class="help-block">{dr_lang('按字段设置时，需要手动为每个字段设置不同的存储策略')}</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">{dr_lang('存储目录方式')}</label>
                            <div class="col-md-9">
                                <div class="mt-radio-inline">
                                    <label class="mt-radio mt-radio-outline"><input type="radio" onclick="$('.dr_attachment_type').hide()" name="data[SYS_ATTACHMENT_SAVE_TYPE]" value="0" {if empty($data['SYS_ATTACHMENT_SAVE_TYPE'])}checked{/if} /> {dr_lang('默认目录')} <span></span></label>
                                    <label class="mt-radio mt-radio-outline"><input type="radio" onclick="$('.dr_attachment_type').show()" name="data[SYS_ATTACHMENT_SAVE_TYPE]" value="1" {if $data['SYS_ATTACHMENT_SAVE_TYPE']}checked{/if} /> {dr_lang('自定义目录')} <span></span></label>
                                </div>
                                <span class="help-block">{dr_lang('默认存储目录为：/年月/文件名')}</span>
                            </div>
                        </div>

                        <div {if empty($data['SYS_ATTACHMENT_SAVE_TYPE'])}style="display: none"{/if} class="form-group dr_attachment_type">
                        <label class="col-md-2 control-label">{dr_lang('存储目录格式')}</label>
                        <div class="col-md-9">
                            <label><input class="form-control input-xlarge" type="text" name="data[SYS_ATTACHMENT_SAVE_DIR]" value="{htmlspecialchars((string)$data['SYS_ATTACHMENT_SAVE_DIR'])}" ></label>
                            <span class="help-block">{dr_lang('留空表示不要目录存储，可填参数格式：{y}表示年，{m}表示月，{d}表示日，/表示目录，不要填写其他特殊符号')}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">{dr_lang('附件相对域名')}</label>
                        <div class="col-md-9">
                            <div class="mt-radio-inline">
                                <label class="mt-radio mt-radio-outline"><input type="radio" name="data[SYS_ATTACHMENT_REL]" value="0" {if empty($data['SYS_ATTACHMENT_REL'])}checked{/if} /> {dr_lang('主站域名')} <span></span></label>
                                <label class="mt-radio mt-radio-outline"><input type="radio" name="data[SYS_ATTACHMENT_REL]" value="1" {if $data['SYS_ATTACHMENT_REL']}checked{/if} /> {dr_lang('相对域名')} <span></span></label>
                            </div>
                            <span class="help-block">{dr_lang('相对模式表示各个终端调用附件显示当前的域名地址，不显示主域名，需要开启服务器的目录映射到主站目录')}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">{dr_lang('附件上传目录')}</label>
                        <div class="col-md-9">
                            <div class="input-group input-xlarge">
                                <input class="form-control " type="text" id="dr_attachment_dir" name="data[SYS_ATTACHMENT_PATH]" value="{htmlspecialchars((string)$data['SYS_ATTACHMENT_PATH'])}" >
                                <span class="input-group-btn">
                                            <button class="btn blue" onclick="dr_test_domain_dir('dr_attachment_dir')" type="button"><i class="fa fa-code"></i> {dr_lang('测试')}</button>
                                        </span>
                            </div>
                            <span class="help-block">{dr_lang('此目录必须有读写权限，绝对路径请以“/”开头')}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">{dr_lang('附件URL地址')}</label>
                        <div class="col-md-9">
                            <div class="input-group input-xlarge">
                                <input class="form-control " type="text" name="data[SYS_ATTACHMENT_URL]" value="{htmlspecialchars((string)$data['SYS_ATTACHMENT_URL'])}" >
                                <span class="input-group-btn">
                                            <button class="btn blue" onclick="dr_test_domain()" type="button"><i class="fa fa-wrench"></i> {dr_lang('检测')}</button>
                                        </span>
                            </div>
                            <span class="help-block">{dr_lang('当设置了附件上传目录后，必须为该目录指定域名，用于分离附件，留空表示默认本项目地址（站外保存时必须指定域名）')}</span>
                        </div>
                    </div>
                    <div class="form-group" style="display: none" id="dr_test_domain">
                        <label class="col-md-2 control-label">{dr_lang('目录检测结果')}</label>
                        <div class="col-md-9" style="padding-top: 3px; line-height: 25px; color:green" id="dr_test_domain_result">

                        </div>
                    </div>

                    </div>
                </div>

                <div class="tab-pane {if $page==1}active{/if}" id="tab_1">
                    <div class="form-body">



                        <div class="form-group">
                            <label class="col-md-2 control-label">{dr_lang('缩略图存储目录')}</label>
                            <div class="col-md-9">
                                <div class="input-group input-xlarge">
                                    <input class="form-control " type="text" id="dr_cache_dir" name="image[cache_path]" value="{htmlspecialchars((string)$image['cache_path'])}" >
                                    <span class="input-group-btn">
                                            <button class="btn blue" onclick="dr_test_domain_dir('dr_cache_dir')" type="button"><i class="fa fa-code"></i> {dr_lang('测试')}</button>
                                        </span>
                                </div>
                                <span class="help-block">{dr_lang('绝对路径请以“/”开头，默认uploadfile/thumb/')}</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">{dr_lang('缩略图访问URL地址')}</label>
                            <div class="col-md-9">
                                <div class="input-group input-xlarge">
                                    <input class="form-control " id="dr_cache_url" type="text" name="image[cache_url]" value="{htmlspecialchars((string)$image['cache_url'])}" >
                                    <span class="input-group-btn">
                                            <button class="btn blue" onclick="dr_test_thumb_domain()" type="button"><i class="fa fa-wrench"></i> {dr_lang('检测')}</button>
                                        </span>
                                </div>

                                <span class="help-block">{dr_lang('缩略图文件访问地址，可单独指定域名，默认/uploadfile/thumb/')}</span>
                            </div>
                        </div>

                        <div class="form-group" style="display: none" id="dr_test_thumb_domain">
                            <label class="col-md-2 control-label">{dr_lang('目录检测结果')}</label>
                            <div class="col-md-9" style="padding-top: 3px; line-height: 25px; color:green" id="dr_test_thumb_domain_result">

                            </div>
                        </div>



                    </div>
                </div>

                <div class="tab-pane {if $page==2}active{/if}" id="tab_2">
                    <div class="form-body">


                        <div class="form-group">
                            <label class="col-md-2 control-label">{dr_lang('头像存储目录')}</label>
                            <div class="col-md-9">

                                <div class="input-group input-xlarge">
                                    <input class="form-control " type="text" id="dr_avatar_dir" name="image[avatar_path]" value="{htmlspecialchars((string)$image['avatar_path'])}" >
                                    <span class="input-group-btn">
                                            <button class="btn blue" onclick="dr_test_domain_dir('dr_avatar_dir')" type="button"><i class="fa fa-code"></i> {dr_lang('测试')}</button>
                                        </span>
                                </div>
                                <span class="help-block">{dr_lang('绝对路径请以“/”开头，默认uploadfile/member/')}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">{dr_lang('头像访问URL地址')}</label>
                            <div class="col-md-9">
                                <div class="input-group input-xlarge">
                                    <input class="form-control " type="text" id="dr_avatar_url" name="image[avatar_url]" value="{htmlspecialchars((string)$image['avatar_url'])}" >
                                    <span class="input-group-btn">
                                            <button class="btn blue" onclick="dr_test_avatar_domain()" type="button"><i class="fa fa-wrench"></i> {dr_lang('检测')}</button>
                                        </span>
                                </div>
                                <span class="help-block">{dr_lang('头像文件访问地址，可单独指定域名，默认/uploadfile/member/')}</span>
                            </div>
                        </div>

                        <div class="form-group" style="display: none" id="dr_test_avatar_domain">
                            <label class="col-md-2 control-label">{dr_lang('目录检测结果')}</label>
                            <div class="col-md-9" style="padding-top: 3px; line-height: 25px; color:green" id="dr_test_avatar_domain_result">

                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
    </div>


    <div class="portlet-body form myfooter">
        <div class="form-actions text-center">
            <label><button type="button" onclick="dr_ajax_submit('{dr_now_url()}&page='+$('#dr_page').val(), 'myform', '2000')" class="btn blue"> <i class="fa fa-save"></i> {dr_lang('保存')}</button></label>
        </div>
    </div>
</form>

<script>
    function dr_test_domain() {
        // 延迟加载
        var loading = layer.load(2, {
            shade: [0.3,'#fff'], //0.1透明度的白色背景
            time: 5000
        });
        $('#dr_test_domain').hide();
        $.ajax({type: "POST",dataType:"json", url: admin_file+"?c=api&m=test_attach_domain", data: $('#myform').serialize(),
            success: function(json) {
                layer.close(loading);
                $('#dr_test_domain').show();
                $('#dr_test_domain_result').html(json.msg);
                return false;
            },
            error: function(HttpRequest, ajaxOptions, thrownError) {
                dr_ajax_admin_alert_error(HttpRequest, ajaxOptions, thrownError);
            }
        });
    }
    function dr_test_thumb_domain() {
        // 延迟加载
        var loading = layer.load(2, {
            shade: [0.3,'#fff'], //0.1透明度的白色背景
            time: 5000
        });
        $('#dr_test_domain').hide();
        $.ajax({type: "POST",dataType:"json", url: admin_file+"?c=api&m=test_thumb_domain", data: $('#myform').serialize(),
            success: function(json) {
                layer.close(loading);
                $('#dr_test_thumb_domain').show();
                $('#dr_test_thumb_domain_result').html(json.msg);
                return false;
            },
            error: function(HttpRequest, ajaxOptions, thrownError) {
                dr_ajax_admin_alert_error(HttpRequest, ajaxOptions, thrownError);
            }
        });
    }
    function dr_test_avatar_domain() {
        // 延迟加载
        var loading = layer.load(2, {
            shade: [0.3,'#fff'], //0.1透明度的白色背景
            time: 5000
        });
        $('#dr_test_domain').hide();
        $.ajax({type: "POST",dataType:"json", url: admin_file+"?c=api&m=test_avatar_domain", data: $('#myform').serialize(),
            success: function(json) {
                layer.close(loading);
                $('#dr_test_avatar_domain').show();
                $('#dr_test_avatar_domain_result').html(json.msg);
                return false;
            },
            error: function(HttpRequest, ajaxOptions, thrownError) {
                dr_ajax_admin_alert_error(HttpRequest, ajaxOptions, thrownError);
            }
        });
    }
    function dr_test_domain_dir(id) {
        $.ajax({type: "GET",dataType:"json", url: admin_file+"?c=api&m=test_attach_dir&v="+encodeURIComponent($("#"+id).val()),
            success: function(json) {
                dr_tips(json.code, json.msg, -1);
            },
            error: function(HttpRequest, ajaxOptions, thrownError) {
                dr_ajax_admin_alert_error(HttpRequest, ajaxOptions, thrownError)
            }
        });
    }
</script>
{template "footer.html"}