{template "header.html"}


<div class="right-card-box" style="position: inherit;">
<form class="form-horizontal" role="form" id="myform">
    {dr_form_hidden()}
    <div class="table-scrollable">
        <table class="table table-striped table-bordered table-hover table-checkable dataTable">
            <thead>
            <tr class="heading">
                <th width="60" style="text-align:center">  </th>
                <th width="330"> {dr_lang('名称')} / {dr_lang('目录')}</th>
                {if !$is_oem}
                <th width="150"> {dr_lang('开发者')} </th>
                {/if}
                <th width="80"> {dr_lang('版本')} </th>
                <th> {dr_lang('操作')} </th>
            </tr>
            </thead>
            <tbody>
            {php $i=1;}
            {loop $list $dir $t}
            <tr class="odd gradeX">
                <td style="text-align:center">
                    <span class="badge badge-success"> {$i} </span>
                </td>
                <td><i class="{$t.icon}"></i> {$t.name} / {$dir}
                    {if !$is_oem && $t.vip}
                    <span class="label label-danger"> VIP </span>
                    {/if}
                </td>
                {if !$is_oem}
                <td>{if $t.store}<a href="{$t.store}" target="_blank">{$t.author}</a>{else}{$t.author}{/if}</td>
                {/if}
                <td> {if $is_oem}
                    {$t.version}
                    {else}
                    <a href="javascript:dr_show_log('app-{$t.id}', '{$t.version}');">{$t.version}</a>
                    {/if}</td>
                <td style="overflow: auto">
                    {if $t.install}
                    {if $t.menu}
                    {if count($t.menu) > 1}
                    <label class="dropdown-toggle">
                        <a class="btn green btn-xs dropdown-toggle dr_show_menu" data-dir="{$dir}" data-toggle="dropdown"> <i class="fa fa-cog"></i> {dr_lang('进入')}</a>
                        <ul class="dropdown-menu" role="dropdown" id="dr_menu_{$dir}">
                            {loop $t.menu $b}
                            <li>
                                <a href="{$b.url}"> {dr_lang($b.name)} </a>
                            </li>
                            {/loop}
                        </ul>
                    </label>
                    {else}
                    <label>
                        <a class="btn green btn-xs" href="{$t['menu'][0]['url']}"> <i class="fa fa-cog"></i> {dr_lang('进入')}</a>
                    </label>
                    {/if}
                    {/if}
                    <label><a href="javascript:dr_load_ajax('{dr_lang($dir == 'module' ? '卸载建站系统会清空所有栏目及其内容，确定要卸载吗？' : '确定卸载此程序吗？')}', '{dr_url('cloud/uninstall', ['dir'=>$dir])}', 1);" class="btn btn-xs red"> <i class="fa fa-trash"></i> {dr_lang('卸载')} </a></label>
                    {else}
                    <label><a href="javascript:{if !$t.mtype && $t.ftype=='module'}dr_install_module_select('{dr_url('cloud/install', ['dir'=>$dir])}'){else}dr_install_app('{dr_url('cloud/install', ['dir'=>$dir])}'){/if};" class="btn btn-xs blue"> <i class="fa fa-plus"></i> {dr_lang('安装')} </a></label>
                    <label><a href="javascript:dr_iframe('{dr_lang('删除提示')}', '{dr_url('cloud/app_delete', ['dir'=>$dir])}', '600px', '320px');" class="btn btn-xs red"> <i class="fa fa-close"></i> {dr_lang('删除')} </a></label>
                    {/if}
                    <label>
                        <a class="btn blue btn-xs" href="javascript:dr_iframe_show('{dr_lang('文件浏览')}', '{dr_url('cloud/app_file', ['dir'=>$dir])}', '600px', '320px');"> <i class="fa fa-file-o"></i> {dr_lang('文件')}</a>
                    </label>
                </td>
            </tr>
            {php $i++;}
            {/loop}
            </tbody>
        </table>
    </div>


</form>
</div>

<script type="text/javascript">
    $(function (){
        $('.dr_show_menu').click(function (){
            var dir = $(this).data('dir');
            var top = $(this).offset().top+20;
            var left = $(this).offset().left;
            $("#dr_menu_"+dir).attr('style', 'top:'+top+'px;left:'+left+'px');
        });
    });
    function dr_show_log(id, v) {
        layer.open({
            type: 2,
            title: '版本日志',
            scrollbar: false,
            resize: true,
            maxmin: true, //开启最大化最小化按钮
            shade: 0,
            area: ['80%', '80%'],
            content: '{dr_url("cloud/log_show")}&id='+id+'&version='+v,
        });
    }

</script>
{template "footer.html"}