{template "header.html"}

<form action="" class="form-horizontal" method="post" name="myform" id="myform">
    {dr_form_hidden()}
    <input type="hidden" id="dr_color" name="data[color]" value="{$admin.color}">
    <div class="row myfbody">
        <div class="col-md-3"></div>
        <div class="col-md-6">

            <div class="portlet light bordered" style="margin-top: 40px">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject font-green">{dr_lang('绑定迅睿账号')}</span>
                    </div>
                </div>
                <div class="portlet-body form">

                    <div class="form-body">

                        <div class="form-group" id="dr_row_username">
                            <label class="col-xs-3 control-label ">迅睿账号</label>
                            <div class="col-xs-7">
                                <input type="text" id="dr_username" class="form-control" name="data[username]">
                            </div>
                        </div>
                        <div class="form-group" id="dr_row_password">
                            <label class="col-xs-3 control-label ">登录密码</label>
                            <div class="col-xs-7">
                                <input type="password" id="dr_password" class="form-control" name="data[password]">
                            </div>
                        </div>
                        <div class="form-group">

                            <label class="col-xs-3 control-label "></label>
                            <div class="col-xs-7">
                            <button type="button" onclick="dr_post_submit('{dr_url('cloud/license')}', 'myform', 3000, '{dr_now_url()}');" class="btn red " style="margin-right: 20px;"> 绑定账号 </button>
                                <a href="https://www.xunruicms.com/register.html" target="_blank">免费注册账号</a>
                        </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>

    </div>

</form>



{template "footer.html"}