{template "head.html"}
<body class="page-content-white {if isset($_GET['is_iframe']) && $_GET['is_iframe'] && !isset($_GET['is_menu'])} main-content2{/if}">
<style>
    .main-content2 {background: #fff!important;}
    .main-content2 .page-body{ margin-top:0px !important;}
    .main-content2 .right-card-box{ padding:0px !important;margin-top: -20px;}
    .main-content2 .portlet.light{ padding:0px !important;}
    .main-content2 .note.note-danger {background-color: #f5f6f8 !important}
    .page-content3 {margin-left:0px !important; border-left: 0  !important;}
    .page-content-white .page-bar .page-breadcrumb>li>i.fa-circle {top:0px !important; }
</style>
<div  class="page-container" style="margin-bottom: 0px !important;">
    <div class="page-content-wrapper">
        <div class="page-content page-content3 mybody-nheader main-content  {if isset($_GET['is_iframe']) && $_GET['is_iframe'] && !isset($_GET['is_menu'])} main-content2{/if}">
            {if (!isset($_GET['hide_menu']) || !$_GET['hide_menu']) || isset($_GET['is_menu'])}
                {if (isset($menu) && $menu && !$_GET['is_iframe']) || isset($_GET['is_menu'])}
                <div class="page-bar">
                    <ul class="page-breadcrumb">
                        {$menu}
                    </ul>
                    {if $menu_toolbar}
                    <div class="page-toolbar">
                        {$menu_toolbar}
                    </div>
                    {/if}
                </div>
                <div class="page-body" style="padding-top:25px;">
                {else}
                <div class="page-body">
                {/if}
            {else}
                <div class="page-body">
            {/if}
