{template "header.html"}

{if $table_data}
<div class="row mymain">
    <div class="col-md-3 column sortable-ui" id="3-1">
        {loop $table_data $table $tid}
        {if $tid == '3-1'}
        {php $file = \Phpcmf\Service::M('auth')->get_main_table($table);}
        {load "$file"}
        {/if}
        {/loop}
    </div>
    <div class="col-md-3 column sortable-ui" id="3-2">
        {loop $table_data $table $tid}
        {if $tid == '3-2'}
        {php $file = \Phpcmf\Service::M('auth')->get_main_table($table);}
        {load "$file"}
        {/if}
        {/loop}
    </div>
    <div class="col-md-3 column sortable-ui" id="3-3">
        {loop $table_data $table $tid}
        {if $tid == '3-3'}
        {php $file = \Phpcmf\Service::M('auth')->get_main_table($table);}
        {load "$file"}
        {/if}
        {/loop}
    </div>
    <div class="col-md-3 column sortable-ui" id="3-4">
        {loop $table_data $table $tid}
        {if $tid == '3-4'}
        {php $file = \Phpcmf\Service::M('auth')->get_main_table($table);}
        {load "$file"}
        {/if}
        {/loop}
    </div>
</div>
<div class="row mymain">
    <div class="col-md-4 column sortable-ui" id="4-1">
        {loop $table_data $table $tid}
        {if $tid == '4-1'}
        {php $file = \Phpcmf\Service::M('auth')->get_main_table($table);}
        {load "$file"}
        {/if}
        {/loop}
    </div>

    <div class="col-md-4 column sortable-ui" id="4-2">
        {loop $table_data $table $tid}
        {if $tid == '4-2'}
        {php $file = \Phpcmf\Service::M('auth')->get_main_table($table);}
        {load "$file"}
        {/if}
        {/loop}
    </div>

    <div class="col-md-4 column sortable-ui" id="4-3">
        {loop $table_data $table $tid}
        {if $tid == '4-3'}
        {php $file = \Phpcmf\Service::M('auth')->get_main_table($table);}
        {load "$file"}
        {/if}
        {/loop}
    </div>

</div>
<div class="row mymain">
    <div class="col-md-6 column sortable-ui" id="6-1">
        {loop $table_data $table $tid}
        {if $tid == '6-1'}
        {php $file = \Phpcmf\Service::M('auth')->get_main_table($table);}
        {load "$file"}
        {/if}
        {/loop}
    </div>
    <div class="col-md-6 column sortable-ui" id="6-2">
        {loop $table_data $table $tid}
        {if $tid == '6-2'}
        {php $file = \Phpcmf\Service::M('auth')->get_main_table($table);}
        {load "$file"}
        {/if}
        {/loop}
    </div>
</div>
<div class="row mymain">
    <div class="col-md-12 column sortable-ui" id="12">
        {loop $table_data $table $tid}
        {if $tid == '12'}
        {php $file = \Phpcmf\Service::M('auth')->get_main_table($table);}
        {load "$file"}
        {/if}
        {/loop}
    </div>
</div>
{/if}
<script>
    $(function () {
        $('.sortable-ui').each(function () {
           var html = $(this).html();
           if (html.length < 20) {
               $(this).remove();
           }
        });
    });
</script>
{template "footer.html"}