{template "header.html"}


<div class="right-card-box">

    <form class="form-horizontal" role="form" id="myform">
        {dr_form_hidden()}
        {if $ci->_is_admin_auth('del')}
        <div class="bootstrap-table2">
            <div id="toolbar" class="toolbar">
                <label><button type="button" onclick="dr_ajax_option('{dr_url('min_menu/del')}', '{dr_lang('你确定要删除它们吗？')}', 1)" class="btn red btn-sm"> <i class="fa fa-trash"></i> {dr_lang('删除')}</button></label>


            </div>
        </div>
        <div class="clearfix"></div>
        <div class="table-scrollable table-clearfix">
        {else}
        <div class="table-scrollable">
        {/if}
            <table class="table table-noborder table-striped table-bordered table-hover table-checkable dataTable">
                <thead>
                <tr class="heading">
                    {if $ci->_is_admin_auth('del')}
                    <th class="myselect">
                        <label class="mt-table mt-table mt-checkbox mt-checkbox-single mt-checkbox-outline">
                            <input type="checkbox" class="group-checkable" data-set=".checkboxes" />
                            <span></span>
                        </label>
                    </th>
                    {/if}
                    <th class="hidden-mobile" width="70" style="text-align:center"> {dr_lang('排序')} </th>
                    <th class="hidden-mobile" width="60" style="text-align:center"> {dr_lang('可用')} </th>
                    <th width="350"> {dr_lang('名称')} </th>
                    <th>
                        {if $ci->_is_admin_auth('add')}<a href="javascript:dr_iframe('add', '{dr_url('min_menu/add', ['pid'=>0])}');" class="btn btn-xs blue"> <i class="fa fa-plus"></i> {dr_lang('添加')} </a>{/if}
                    </th>
                </tr>
                </thead>
                <tbody>
                {php $top=array();}
                {loop $data $t}
                {php $t.pid == 0 && $top[] = $t.id; $t.group = dr_string2array($t.group);$t.site = dr_string2array($t.site);}
                <tr class="odd gradeX" id="dr_row_{$t.id}">
                    {if $ci->_is_admin_auth('del')}
                    <td class="myselect">
                        <label class="mt-table mt-table mt-checkbox mt-checkbox-single mt-checkbox-outline">
                            <input type="checkbox" class="checkboxes checkboxes{$t.tid} checkboxes{$t.pid} group-checkable" data-set=".checkboxes{$t.id}"  name="ids[]" value="{$t.id}" />
                            <span></span>
                        </label>
                    </td>
                    {/if}
                    <td class="hidden-mobile" style="text-align:center"> <input type="text" onblur="dr_ajax_save(this.value, '{dr_url('min_menu/save_edit', ['id'=>$t.id])}', 'displayorder')" value="{$t.displayorder}" class="displayorder form-control input-sm input-inline input-mini"> </td>
                    <td class="hidden-mobile" style="text-align:center">
                        <a href="javascript:;" onclick="dr_ajax_open_close(this, '{dr_url('min_menu/use_edit', ['id'=>$t.id])}', 1);" class="badge badge-{if $t.hidden}no{else}yes{/if}"><i class="fa fa-{if $t.hidden}times{else}check{/if}"></i></a>
                    </td>
                    <td>
                        {$t.spacer} <a href="javascript:dr_iframe('edit', '{dr_url('min_menu/edit', ['id'=>$t.id])}', '600px');"><i class="{$t.icon}"></i> {dr_lang($t.name)}</a>
                    </td>
                    <td>
                        {if $ci->_is_admin_auth('add') && $t.pid == 0}<a href="javascript:dr_iframe('add', '{dr_url('min_menu/add', ['pid'=>$t.id])}', '600px', '{if @in_array($t.pid, $top)}500px{/if}');" class="btn btn-xs blue"> <i class="fa fa-plus"></i> {dr_lang('添加')} </a>{/if}
                    </td>

                </tr>
                {/loop}
                </tbody>
            </table>
        </div>
    </form>
</div>
<script type="text/javascript">
    function dr_delete(id, gid) {
        {if !$ci->_is_admin_auth('del')}
        dr_tips(0, '{dr_lang('无权限删除')}');
        return;
        {/if}
        var index = layer.load(2, {
            shade: [0.3,'#fff'], //0.1透明度的白色背景
            time: 10000
        });
        $.ajax({
            type: "GET",
            cache: false,
            url: '{dr_url('min_menu/group_del')}&id='+id+'&gid='+gid,
            dataType: "json",
            success: function (json) {
            layer.close(index);
            if (json.code == 1) {
                $('#dr_row_'+id+'_'+gid).hide();
                dr_tips(1, json.msg);
            } else {
                dr_tips(0, json.msg);
            }
        },
            error: function(HttpRequest, ajaxOptions, thrownError) {
                dr_ajax_alert_error(HttpRequest, this, thrownError);;
            }
        });
    }
</script>
{template "footer.html"}