{template "head.html"}
<body>
    <div class="page-404-full-page">
        <div class="row">
            <div class="col-xs-12 page-404">
                {if $mark==1}
                <div class="admin_msg number font-green-turquoise"> <i class="fa fa-check-circle-o"></i> </div>
                {else if $mark==2}
                <div class="admin_msg number font-blue" > <i class="fa fa-info-circle"></i> </div>
                {else}
                <div class="admin_msg number font-red"> <i class="fa fa-times-circle-o"></i> </div>
                {/if}
                <div class="details">
                    <h4>{$msg}</h4>
                    <p class="alert_btnleft">
                        {if $url}
                        <a href="{$url}" class="btn blue btn-outline">{dr_lang('即将跳转')}</a>
                        <meta http-equiv="refresh" content="{$time}; url={$url}">
                        {else}
                        <a href="{$backurl}" class="btn {if $mark}blue{else}red{/if} btn-outline">{dr_lang('点击返回上一页')}</a>
                        {/if}
                    </p>

                </div>
            </div>
        </div>
    </div>
    <script>
    $(function(){
        $('.page-bar').hide();
        //parent.$('.page-bar').hide();
        parent.$('.module-content-left').hide();
        parent.$('.module-content-right').addClass('page-content4');
        parent.$('.module-content-right').removeClass('page-content2');
    });
    </script>
</body>
</html>