{template "header.html"}

{template "api_list_date_search.html"}

<div class="note note-danger"  id="table-search-tool">
    <div class="row table-search-tool">
        <form action="{SELF}" method="get">
            {dr_form_search_hidden()}
            <div class="col-md-12 col-sm-12">
                <label>
                    <select name="field" class="form-control">
                        {loop $field $t}
                        <option value="{$t.fieldname}" {if $param.field==$t.fieldname}selected{/if}>{$t.name}</option>
                        {/loop}
                    </select>
                </label>
                <label><i class="fa fa-caret-right"></i></label>
                <label><input type="text" class="form-control" placeholder="" value="{$param['keyword']}" name="keyword" /></label>
            </div>

            <div class="col-md-12 col-sm-12">
                <label>
                    <div class="input-group input-medium date-picker input-daterange" data-date="" data-date-format="yyyy-mm-dd">
                        <input type="text" class="form-control" value="{$param.date_form}" name="date_form">
                        <span class="input-group-addon"> {dr_lang('到')} </span>
                        <input type="text" class="form-control" value="{$param.date_to}" name="date_to">
                    </div>
                </label>
            </div>

            <div class="col-md-12 col-sm-12">
                <button type="submit" class="btn blue btn-sm onloading" name="submit" > <i class="fa fa-search"></i> {dr_lang('搜索')}</button>
            </div>
        </form>
    </div>
</div>

<div class="right-card-box">
    {if $ci->_is_admin_auth('del')}
    <div class="bootstrap-table2">
        <div id="toolbar" class="toolbar">
            <label><button type="button" onclick="dr_ajax_option('{dr_url('notice/del')}', '{dr_lang('你确定要删除它们吗？')}', 1)" class="btn red btn-sm"> <i class="fa fa-trash"></i> {dr_lang('删除')}</button>
            </label>
        </div>
    </div>
   {/if}
<form class="form-horizontal" role="form" id="myform">
    {dr_form_hidden()}
        <div class="table-scrollable">
    <table class="table table-striped table-bordered table-hover table-checkable dataTable">
        <thead>
        <tr class="heading">
            {if $ci->_is_admin_auth('del')}
            <th class="myselect">
                <label class="mt-table mt-checkbox mt-checkbox-single mt-checkbox-outline">
                    <input type="checkbox" class="group-checkable" data-set=".checkboxes" />
                    <span></span>
                </label>
            </th>
            {/if}
            <th width="70" style="text-align:center">{dr_lang('类型')}</th>
            <th width="80" style="text-align:center">{dr_lang('状态')}</th>
            <th width="160">{dr_lang('申请时间')}</th>
            <th width="150">{dr_lang('申请人')}</th>
            <th>{dr_lang('内容')}</th>
            <th>{dr_lang('处理情况')}</th>
        </tr>
        </thead>
        <tbody>
        {loop $list $t}
        <tr class="odd gradeX" id="dr_row_{$t.id}">
            {if $ci->_is_admin_auth('del')}
            <td class="myselect">
                <label class="mt-table mt-checkbox mt-checkbox-single mt-checkbox-outline">
                    <input type="checkbox" class="checkboxes" name="ids[]" value="{$t.id}" />
                    <span></span>
                </label>
            </td>
            {/if}
            <td style="text-align:center">
                {if $t.type =='system'}
                <span class="label label-sm label-danger">{dr_lang('系统')}</span>
                {else if $t.type =='content'}
                <span class="label label-sm label-warning">{dr_lang('内容')}</span>
                {else if $t.type =='app'}
                <span class="label label-sm label-info">{dr_lang('应用')}</span>
                {else if $t.type =='member'}
                <span class="label label-sm label-success">{dr_lang('会员')}</span>
                {else if $t.type =='pay'}
                <span class="label label-sm label-success">{dr_lang('支付')}</span>
                {else}
                <span class="label label-sm label-success">{dr_lang('系统')}</span>
                {/if}
            </td>
            <td style="text-align:center" title="{$t.uri}">{if $t.status ==0}
                <span class="label label-sm label-danger">{dr_lang('未处理')}</span>
                {else if $t.status ==1}
                <span class="label label-sm label-warning">{dr_lang('已查看')}</span>
                {else if $t.status ==2}
                <span class="label label-sm label-info">{dr_lang('处理中')}</span>
                {else if $t.status ==3}
                <span class="label label-sm label-success">{dr_lang('已完成')}</span>
                {/if}
            </td>
            <td>{dr_date($t.inputtime, NULL, 'red')}</td>
            <td>
                {if $t.uid}
                <a href="javascript:;" class="fc_member_show" member="{$t.username}">{dr_strcut($t.username, 10)}</a>
                {else}
                {dr_lang('系统')}
                {/if}
            </td>
            <td>
                <a href="{dr_url('api/notice', array('id' => $t.id))}">{$t.msg}</a>
            </td>
            <td>
                {if $t.op_uid}
                {dr_date($t.updatetime, 'Y-m-d H:i:s ')}
                <a href="javascript:;" class="label label-sm label-info" member="{$t.op_username}">{dr_strcut($t.op_username, 10)}</a>
                {/if}
            </td>
        </tr>
        {/loop}
        </tbody>
    </table></div>
    <div class="row fc-list-footer table-checkable ">

        <div class="col-md-12 fc-list-page">
            {$mypages}
        </div>
    </div>
</form>
</div>

{template "footer.html"}