{template "header.html"}

<form action="" class="form-horizontal" method="post" name="myform" id="myform">
    {$form}
    <div class="row myfbody">
        <div class="col-md-12">

            <div class="portlet light bordered">
                {if !$is_iframe_post}
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject sbold ">{dr_lang('内容')}</span>
                    </div>
                    {if $reply_url}
                    <div class="actions">
                        <div class="btn-group">
                            <a class="btn" href="{$reply_url}"> <i class="fa fa-mail-reply"></i> {dr_lang('返回列表')}</a>
                        </div>
                    </div>
                    {/if}
                </div>
                {/if}
                <div class="portlet-body">
                    <div class="form-body">
                        {if !$is_iframe_post}
                        {$myfield}
                        {$diyfield}
                        {else}
                        {dr_rp($myfield, '<label class="control-label col-md-2">', '<label class="control-label col-md-1">')}
                        {dr_rp($diyfield, '<label class="control-label col-md-2">', '<label class="control-label col-md-1">')}
                        {/if}

                    </div>
                </div>
            </div>

        </div>
    </div>

    {if !$is_iframe_post}
    <div class="portlet-body form myfooter">
        <div class="form-actions text-center">
            <label><button type="button" onclick="dr_ajax_submit('{dr_now_url()}', 'myform', '2000')" class="btn blue"> <i class="fa fa-save"></i> {dr_lang('保存内容')}</button></label>
            {if $reply_url}<label><button type="button" onclick="dr_ajax_submit('{dr_now_url()}', 'myform', '2000', '{$reply_url}')" class="btn yellow"> <i class="fa fa-mail-reply-all"></i> {dr_lang('保存并返回')}</button></label>
            {/if}
        </div>
    </div>
    {/if}
</form>

{template "footer.html"}