
.body-ifram {
    background: rgba(0, 0, 0, 0) url("../img/view.png") no-repeat scroll center center;
    height: 805px;
    text-align: center;
}
#mobile-view {
    height: 576px;
    padding-top: 108px;
    width: 360px;
}
a {
    background: #00d2ed none repeat scroll 0 0;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 15px;
    padding: 11px 22px;
    text-align: center;
    text-decoration: none;
}
h3{text-align:center;}