{template "header.html"}
<div class="note note-danger">
    <p>{dr_lang('邮件发送失败时返回的错误代码，格式为：时间 [邮件服务器 - 服务器账号 - 发送给的邮箱] 错误代码')}</p>
</div>
<form class="form-horizontal" role="form" id="myform">
    {dr_form_hidden()}
    <table class="table table-striped  table-hover table-checkable">
        <tbody>
        {loop $list $t}
        <tr class="odd gradeX">
            <td style="text-align:left">
                {$t}
            </td>
        </tr>
        {/loop}
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-5 col-sm-5 table-footer-button">
            <label><button type="button" onclick="dr_ajax_option('{dr_url('email_log/del')}', '{dr_lang('你确定要清空全部记录吗？')}', 1)" class="btn red btn-sm"> <i class="fa fa-trash"></i> 清空全部</button></label>
        </div>
        <div class="col-md-7 col-sm-7 text-right">
           {$mypages}
        </div>
    </div>

</form>


{template "footer.html"}