{if $is_ajax_edit}
{template "header.html"}
<script type="text/javascript">
    $(function() { //防止回车提交表单
        document.onkeydown = function(e){
            var ev = document.all ? window.event : e;
            if (ev.keyCode==13) {
                return false;
            }
        }
    });
</script>
<style>
    .mt-checkbox-single {
        margin-right: 10px;
    }
</style>
<form class="form-horizontal" role="form" id="myform">
    {dr_form_hidden()}
    {/if}
    <div class="margin-bottom-5">
        <label class="mt-table mt-checkbox mt-checkbox-single mt-checkbox-outline">
            {dr_lang('访问')}
            <input type="checkbox" class="checkboxes" {if $auth['form']['show'] || !$auth['form']} checked {/if} name="form[show]" value="1" />
            <span></span>
        </label>
        <label class="mt-table mt-checkbox mt-checkbox-single mt-checkbox-outline">
            {dr_lang('发布')}
            <input type="checkbox" class="checkboxes" {if $auth['form']['add'] || !$auth['form']} checked {/if} name="form[add]" value="1" />
            <span></span>
        </label>

        <label class="mt-table mt-checkbox mt-checkbox-single mt-checkbox-outline">
            {dr_lang('修改')}
            <input type="checkbox" class="checkboxes" {if $auth['form']['edit']} checked {/if} name="form[edit]" value="1" />
            <span></span>
        </label>
        <label class="mt-table mt-checkbox mt-checkbox-single mt-checkbox-outline">
            {dr_lang('删除')}
            <input type="checkbox" class="checkboxes" {if $auth['form']['del']} checked {/if} name="form[del]" value="1" />
            <span></span>
        </label>

        <label class="mt-table mt-checkbox mt-checkbox-single mt-checkbox-outline">
            {dr_lang('验证码')}
            <input type="checkbox" class="checkboxes" {if $auth['form']['code'] || !$auth['form']} checked {/if} name="form[code]" value="1" />
            <span></span>
        </label>
        <label class="mt-table mt-checkbox mt-checkbox-single mt-checkbox-outline">
            {dr_lang('发布审核')}
            <input type="checkbox" class="checkboxes" {if $auth['form']['verify'] || !$auth['form']} checked {/if} name="form[verify]" value="1" />
            <span></span>
        </label>
        <label class="mt-table mt-checkbox mt-checkbox-single mt-checkbox-outline">
            {dr_lang('修改审核')}
            <input type="checkbox" class="checkboxes" {if $auth['form']['verify2']} checked {/if} name="form[verify2]" value="1" />
            <span></span>
        </label>
    </div>

    <div class="margin-bottom-15">
        <div class="input-inline input-small">
            <div class="input-group">
                <input type="text" name="form[exp]" value="{htmlspecialchars($auth['form']['exp'])}" class="form-control" placeholder="">
                <span class="input-group-addon">+{SITE_EXPERIENCE}</span>
            </div>
        </div>
        <div class="input-inline input-small">
            <div class="input-group">
                <input type="text" name="form[score]" value="{htmlspecialchars($auth['form']['score'])}" class="form-control" placeholder="">
                <span class="input-group-addon">+{SITE_SCORE}</span>
            </div>
        </div>
        <div class="input-inline input-small">
            <div class="input-group">
                <input type="text" name="form[day_post]" value="{htmlspecialchars($auth['form']['day_post'])}" class="form-control" placeholder="">
                <span class="input-group-addon">{dr_lang('日发布')}</span>
            </div>
        </div>
        <div class="input-inline input-small">
            <div class="input-group">
                <input type="text" name="form[total_post]" value="{htmlspecialchars($auth['form']['total_post'])}" class="form-control" placeholder="">
                <span class="input-group-addon">{dr_lang('发布总数')}</span>
            </div>
        </div>

    </div>
    {loop $diy.form $d}
    <div app="{$d.app}" class="margin-bottom-15">
        {php $dfile=$d.file;}
        {load "$dfile"}
    </div>
    {/loop}

    <input type="hidden" name="form[test]" value="1">

    {if $is_ajax_edit}

</form>
{/if}