{if $is_ajax_edit}
{template "header.html"}
<script type="text/javascript">
    $(function() { //防止回车提交表单
        document.onkeydown = function(e){
            var ev = document.all ? window.event : e;
            if (ev.keyCode==13) {
                return false;
            }
        }
    });
</script>
<style>
    .mt-checkbox-single {
        margin-right: 10px;
    }
</style>
<form class="form-horizontal" role="form" id="myform">
    {dr_form_hidden()}
{/if}
<label class="mt-table mt-checkbox mt-checkbox-single mt-checkbox-outline">
    {dr_lang('访问')}
    <input type="checkbox" class="checkboxes" {if $auth['share_category']['show'] || !$auth['share_category']} checked {/if} name="share_category[show]" value="1" />
    <span></span>
</label>

<label class="mt-table mt-checkbox mt-checkbox-single mt-checkbox-outline">
    {dr_lang('发布')}
    <input type="checkbox" class="checkboxes" {if $auth['share_category']['add']} checked {/if} name="share_category[add]" value="1" />
    <span></span>
</label>

<label class="mt-table mt-checkbox mt-checkbox-single mt-checkbox-outline">
    {dr_lang('修改')}
    <input type="checkbox" class="checkboxes" {if $auth['share_category']['edit']} checked {/if} name="share_category[edit]" value="1" />
    <span></span>
</label>
<label class="mt-table mt-checkbox mt-checkbox-single mt-checkbox-outline">
    {dr_lang('删除')}
    <input type="checkbox" class="checkboxes" {if $auth['share_category']['del']} checked {/if} name="share_category[del]" value="1" />
    <span></span>
</label>
<label class="mt-table mt-checkbox mt-checkbox-single mt-checkbox-outline">
    {dr_lang('验证码')}
    <input type="checkbox" class="checkboxes" {if $auth['share_category']['code']} checked {/if} name="share_category[code]" value="1" />
    <span></span>
</label>
<br>
<label>
    <select name="share_category[verify]" class="form-control">
        <option value="0"> {dr_lang('不审核')} </option>
        {loop $verify $v}
        <option value="{$v.id}" {if $auth['share_category']['verify'] == $v.id} selected{/if}> {dr_lang($v.name)} </option>
        {/loop}
    </select>
</label>
<div class="input-inline input-small">
    <div class="input-group">
        <input type="text" name="share_category[exp]" value="{htmlspecialchars($auth['share_category']['exp'])}" class="form-control" placeholder="">
        <span class="input-group-addon">+{SITE_EXPERIENCE}</span>
    </div>
</div>
<div class="input-inline input-small">
    <div class="input-group">
        <input type="text" name="share_category[score]" value="{htmlspecialchars($auth['share_category']['score'])}" class="form-control" placeholder="">
        <span class="input-group-addon">±{SITE_SCORE}</span>
    </div>
</div>
<div class="input-inline input-small">
    <div class="input-group">
        <input type="text" name="share_category[money]" value="{htmlspecialchars($auth['share_category']['money'])}" class="form-control" placeholder="">
        <span class="input-group-addon">±{dr_lang('金额')}</span>
    </div>
</div>
<div class="input-inline input-small">
    <div class="input-group">
        <input type="text" name="share_category[day_post]" value="{htmlspecialchars($auth['share_category']['day_post'])}" class="form-control" placeholder="">
        <span class="input-group-addon">{dr_lang('日投稿')}</span>
    </div>
</div>
<div class="input-inline input-small">
    <div class="input-group">
        <input type="text" name="share_category[total_post]" value="{htmlspecialchars($auth['share_category']['total_post'])}" class="form-control" placeholder="">
        <span class="input-group-addon">{dr_lang('投稿总数')}</span>
    </div>
</div>
    <input type="hidden" name="category[{$mid}][test]" value="1">
{if $is_ajax_edit}

</form>
{/if}