{template "header.html"}

<div class="note note-danger">
    <p><a href="javascript:dr_update_cache('member');">{dr_lang('更改数据之后需要更新缓存之后才能生效')}</a></p>
</div>


<form class="form-horizontal" role="form" id="myform">
    {dr_form_hidden()}
    <div class="table-scrollable">
        <table class="table table-striped table-bordered table-hover table-checkable dataTable">
            <thead>
            <tr class="heading">
                {if $ci->_is_admin_auth('del')}
                <th class="myselect">
                    <label class="mt-table mt-checkbox mt-checkbox-single mt-checkbox-outline">
                        <input type="checkbox" class="group-checkable" data-set=".checkboxes" />
                        <span></span>
                    </label>
                </th>
                {/if}
                <th style="text-align:center" width="70" class="{dr_sorting('displayorder')}" name="displayorder">{dr_lang('排序')}</th>
                <th style="text-align:center" width="50" class="{dr_sorting('id')}" name="id">Id</th>
                <th width="150" class="{dr_sorting('name')}" name="name">{dr_lang('名称')}</th>
                <th width="100" class="{dr_sorting('price')}" name="price">{dr_lang('价格')}</th>
                <th style="text-align:center" width="90" class="{dr_sorting('register')}" name="register">{dr_lang('允许注册')}</th>
                <th style="text-align:center" width="90" class="{dr_sorting('apply')}" name="apply">{dr_lang('允许申请')}</th>
                <th>{dr_lang('操作')}</th>
            </tr>
            </thead>
            <tbody>
            {loop $list $t}
            <tr class="odd gradeX" id="dr_row_{$t.id}">
                {if $ci->_is_admin_auth('del') || $ci->_is_admin_auth('edit')}
                <td class="myselect">
                    <label class="mt-table mt-checkbox mt-checkbox-single mt-checkbox-outline">
                        <input type="checkbox" class="checkboxes" name="ids[]" value="{$t.id}" />
                        <span></span>
                    </label>
                </td>
                {/if}
                <td style="text-align:center"> <input type="text" onblur="dr_ajax_save(this.value, '{dr_url($uriprefix.'/order_edit', ['id'=>$t.id])}')" value="{$t.displayorder}" class="displayorder form-control input-sm input-inline input-mini"> </td>
                <td style="text-align:center"> {$t.id} </td>
                <td>{$t.name}</td>
                <td>{$t.price}</td>
                <td style="text-align:center">
                    <a href="javascript:;" onclick="dr_ajax_open_close(this, '{dr_url($uriprefix.'/register_edit', ['id'=>$t.id])}', 0);" class="badge badge-{if !$t.register}no{else}yes{/if}"><i class="fa fa-{if !$t.register}times{else}check{/if}"></i></a>
                </td>
                <td style="text-align:center">
                    <a href="javascript:;" onclick="dr_ajax_open_close(this, '{dr_url($uriprefix.'/apply_edit', ['id'=>$t.id])}', 0);" class="badge badge-{if !$t.apply}no{else}yes{/if}"><i class="fa fa-{if !$t.apply}times{else}check{/if}"></i></a>
                </td>

                <td>
                    {if $ci->_is_admin_auth('edit')}
                    <label><a href="{dr_url($uriprefix.'/edit', ['id'=>$t.id])}" class="btn btn-xs green"> <i class="fa fa-edit"></i> {dr_lang('修改')}</a></label>
                    {/if}
                    <label><a href="{dr_url($uriprefix.'/level_index', ['gid'=>$t.id])}" class="btn btn-xs dark"> <i class="fa fa-list-ol"></i> {dr_lang('等级制度')}</a></label>
                </td>
            </tr>
            {/loop}
            </tbody>
        </table>
    </div>

         <div class="row fc-list-footer table-checkable ">
             <div class="col-md-5 fc-list-select">
                {if $ci->_is_admin_auth('del')}
                <label class="mt-table mt-checkbox mt-checkbox-single mt-checkbox-outline">
                    <input type="checkbox" class="group-checkable" data-set=".checkboxes" />
                    <span></span>
                </label>
                <label><button type="button" onclick="dr_ajax_option('{dr_url('member_group/del')}', '{dr_lang('你确定要删除吗？')}', 1)" class="btn red btn-sm"> <i class="fa fa-trash"></i> {dr_lang('删除')}</button></label>
                {/if}
            </div>
             <div class="col-md-7 fc-list-page">
                 {$mypages}
             </div>
         </div>
</form>


{template "footer.html"}