{template "header.html"}
<link href="{THEME_PATH}assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
<link href="{THEME_PATH}assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<link href="{THEME_PATH}assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
<link href="{THEME_PATH}assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
<script src="{THEME_PATH}assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.finecms.js" type="text/javascript"></script>

<script type="text/javascript">
    if (App.isAngularJsApp() === false) {
        jQuery(document).ready(function() {
            if (jQuery().datepicker) {
                $('.date-picker').datepicker({
                    rtl: App.isRTL(),
                    orientation: "left",
                    autoclose: true
                });
            }
        });
    }
</script>
<div class="row table-search-tool">
    <form action="{SELF}" method="get">
        {dr_form_search_hidden()}
        <div class="col-md-12 col-sm-12">
            <label>
                <select name="field" class="form-control">
                    {loop $field $t}
                    {if $t.ismain}
                    <option value="{$t.fieldname}" {if $param.field==$t.fieldname}selected{/if}>{$t.name}</option>
                    {/if}
                    {/loop}
                    <option value="id"> {dr_lang('流水号')} </option>
                </select>
            </label>
            <label><i class="fa fa-caret-right"></i></label>
            <label><input type="text" class="form-control" placeholder="" value="{$param['keyword']}" name="keyword" /></label>
        </div>
        <div class="col-md-12 col-sm-12">
            <label>
                <div class="input-group input-medium date-picker input-daterange" data-date="" data-date-format="yyyy-mm-dd">
                    <input type="text" class="form-control" value="{$param.date_form}" name="date_form">
                    <span class="input-group-addon"> {dr_lang('到')} </span>
                    <input type="text" class="form-control" value="{$param.date_to}" name="date_to">
                </div>
            </label>
        </div>


        <div class="col-md-12 col-sm-12">
            <label><button type="submit" class="btn green btn-sm onloading" name="submit" > <i class="fa fa-search"></i> {dr_lang('搜索')}</button></label>
            {if $list_table}<label><button type="button" onclick="dr_export('{$list_table}', '{$list_query}')" class="btn blue btn-sm" style="margin-top: 2px;"> <i class="fa fa-mail-forward"></i> {dr_lang('导出')}</button></label>{/if}
        </div>
    </form>
</div>

<form class="form-horizontal" role="form" id="myform">
    {dr_form_hidden()}
    <div class="table-scrollable">
        <table class="table table-striped table-bordered table-hover table-checkable dataTable">
            <thead>
            <tr class="heading">
                {if $ci->_is_admin_auth('del')}
                <th class="myselect">
                    <label class="mt-table mt-checkbox mt-checkbox-single mt-checkbox-outline">
                        <input type="checkbox" class="group-checkable" data-set=".checkboxes" />
                        <span></span>
                    </label>
                </th>
                {/if}
                <th style="text-align:center" width="70" class="{dr_sorting('mid')}" name="mid">{dr_lang('用途')}</th>
                <th width="110" class="{dr_sorting('uid')}" name="uid">{dr_lang('账号')}</th>
                <th class="{dr_sorting('title')}" name="title">{dr_lang('说明')}</th>
                <th width="120" class="{dr_sorting('value')}" name="value" style="padding-left:20px">{dr_lang('金额')}</th>
                <th style="text-align:center" width="90" class="{dr_sorting('type')}" name="type">付款</th>
                <th style="text-align:center" width="80" class="{dr_sorting('status')}" name="status">{dr_lang('状态')}</th>
                <th width="160" class="{dr_sorting('inputtime')}" name="inputtime">{dr_lang('时间')}</th>
                <th width="150">{dr_lang('操作')}</th>
            </tr>
            </thead>
            <tbody>
            {loop $list $t}
            <tr class="odd gradeX" id="dr_row_{$t.id}">
                {if $ci->_is_admin_auth('del')}
                <td class="myselect">
                    <label class="mt-table mt-checkbox mt-checkbox-single mt-checkbox-outline">
                        <input type="checkbox" class="checkboxes" name="ids[]" value="{$t.id}" />
                        <span></span>
                    </label>
                </td>
                {/if}
                <td style="text-align:center">{php echo \Phpcmf\Service::M('Pay')->paytype($t.mid)}</td>
                <td>{if $t.uid}{Function_list::uid($t.uid)}{else}{dr_lang('游客')}{/if}</td>
                <td><a href="javascript:dr_layer_tips('{str_replace('"', '', $t.title)}');" class="tooltips" data-container="body" data-placement="top" data-original-title="{str_replace('"', '', $t.title)}">{dr_strcut($t.title, 30)}</a></td>
                <td><b>{dr_pay_money_html($t.value)}</b></td>
                <td style="text-align:center">{dr_pay_type_html($t.type)}</td>
                <td style="text-align:center">{php echo \Phpcmf\Service::M('Pay')->paystatus($t)}</td>
                <td>{dr_date($t.inputtime, null, 'red')}</td>
                <td>
                    {if $ci->_is_admin_auth('edit')}
                    <label><a href="{dr_url($uriprefix.'/edit', ['id'=>$t.id])}" class="btn btn-xs green"> <i class="fa fa-edit"></i> {dr_lang('详情')}</a></label>
                    {if $t.status && $t.mid=='recharge'}
                    <label><a href="javascript:dr_iframe('{dr_lang('系统回收')}', '{dr_url($uriprefix.'/system_edit', ['id'=>$t.id])}');" class="btn btn-xs red"> <i class="fa fa-rmb"></i> {dr_lang('回收')}</a></label>
                    {/if}
                    {/if}
                </td>
            </tr>
            {/loop}
            </tbody>
        </table>
    </div>

         <div class="row fc-list-footer table-checkable ">
             <div class="col-md-5 fc-list-select">
                {if $ci->_is_admin_auth('del')}
                <label class="mt-table mt-checkbox mt-checkbox-single mt-checkbox-outline">
                    <input type="checkbox" class="group-checkable" data-set=".checkboxes" />
                    <span></span>
                </label>
                <label><button type="button" onclick="dr_ajax_option('{dr_url('member_paylog/del')}', '{dr_lang('你确定要删除吗？')}', 1)" class="btn red btn-sm"> <i class="fa fa-trash"></i> {dr_lang('删除')}</button></label>
                <label><button type="button" onclick="dr_ajax_option('{dr_url('member_paylog/notice_del')}', '{dr_lang('你确定要通知他们吗？')}', 1)" class="btn green btn-sm"> <i class="fa fa-envelope"></i> {dr_lang('短信催付')}</button></label>
                {/if}
            </div>
             <div class="col-md-7 fc-list-page">
                 {$mypages}
             </div>
         </div>
</form>


{template "footer.html"}