<!DOCTYPE html>
<!--[if IE 8]> <html lang="zh-cn" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="zh-cn" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh-cn">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>{dr_clearhtml($msg)}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link href="{ROOT_THEME_PATH}assets/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="{THEME_PATH}assets/global/css/xunruicms.css" rel="stylesheet" type="text/css" />
    <link href="{THEME_PATH}assets/global/css/my.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">var admin_file = '{SELF}'; var assets_path = '{THEME_PATH}assets/';</script>
    <script src="{LANG_PATH}lang.js" type="text/javascript"></script>
    <script src="{ROOT_THEME_PATH}assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="{ROOT_THEME_PATH}assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="{ROOT_THEME_PATH}assets/global/scripts/app.js" type="text/javascript"></script>
    <script src="{ROOT_THEME_PATH}assets/global/scripts/layout.js" type="text/javascript"></script>
    <script src="{ROOT_THEME_PATH}assets/layer/layer.js" type="text/javascript"></script>
    <script src="{ROOT_THEME_PATH}assets/js/cms.js" type="text/javascript"></script>
    <script src="{ROOT_THEME_PATH}assets/js/admin.js" type="text/javascript"></script>
</head>

<body style="background: #ffffff">
<form class="form-horizontal" role="form" id="myform">
    {dr_form_hidden()}
    <div style="padding: 20px;">
        <ul class="list-group">


            {loop $list $id $t}
            <li class="list-group-item">
                {$t.title}
                <span id="content_{$id}" style="margin-top: 5px;float: right;"> <img width="15" src="{THEME_PATH}assets/images/loading-2.gif"> </span>
                <iframe scrolling="yes" src="{$t.url}" style="width:100%; display: none" frameborder=1></iframe>
            </li>

            {/loop}

        </ul>

    </div>
</form>
</body>
</html>