<!DOCTYPE html>
<!--[if IE 8]> <html lang="zh-cn" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="zh-cn" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh-cn">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>{dr_clearhtml($msg)}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link href="{ROOT_THEME_PATH}assets/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="{THEME_PATH}assets/global/css/xunruicms.css" rel="stylesheet" type="text/css" />
    <link href="{THEME_PATH}assets/global/css/my.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">var admin_file = '{SELF}'; var assets_path = '{THEME_PATH}assets/';</script>
    <script src="{LANG_PATH}lang.js" type="text/javascript"></script>
    <script src="{ROOT_THEME_PATH}assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="{ROOT_THEME_PATH}assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="{ROOT_THEME_PATH}assets/global/scripts/app.js" type="text/javascript"></script>
    <script src="{ROOT_THEME_PATH}assets/global/scripts/layout.js" type="text/javascript"></script>
    <script src="{ROOT_THEME_PATH}assets/layer/layer.js" type="text/javascript"></script>
    <script src="{ROOT_THEME_PATH}assets/js/cms.js" type="text/javascript"></script>
    <script src="{ROOT_THEME_PATH}assets/js/admin.js" type="text/javascript"></script>
</head>

<body style="background: #ffffff">

<div class="page-404-full-page" style="padding-top:10px">
    <div class="row">
        <div class="col-xs-12 page-404">

            <div class="admin_msg number font-green-turquoise"> <i class="fa fa-check-circle-o"></i> </div>

            <div class="details">
                <h4>{dr_lang('审核信息已提交（选择数量越多时处理时间会长一些）')}</h4>
                <p class="alert_btnleft">
                    <a href="javascript:dr_iframe_close();" >{dr_lang('点击返回到审核列表')}</a>
                </p>

            </div>
        </div>
    </div>
</div>
<script>
    function dr_iframe_close() {
        parent.location.href = "{$back_url}";
        parent.layer.closeAll();
    }
</script>
{loop $list $id $t}

<iframe id="post_{$id}" name="post_{$id}" scrolling="yes" src="{$t}" style="width:100%; display: none" frameborder=1></iframe>

{/loop}

</body>
</html>