{template "header.html"}

<div class="mt-element-step">
    <div class="step-no-background-thin">

        {loop $value.role $i $rid}
        <div class="row ">
            <div class="col-lg-12 mt-step-col">
                <div class="mt-step-number first bg-white font-grey">{$i}</div>
                <div class="mt-step-content font-grey-cascade" style="padding-top: 18px;">
                    <label>{dr_lang($ci->role[$rid][name])}</label>
                </div>
            </div>
        </div>
        {/loop}

        <div class="row ">
            <div class="col-lg-12 mt-step-col active" >
                <div class="mt-step-number bg-white font-grey">{$i+1}</div>
                <div class="mt-step-title font-grey-cascade" style="padding-top:10px">{dr_lang('审核完成')}</div>
            </div>
        </div>
    </div>
</div>

{template "footer.html"}