{template "install/header.html"}

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-file-text-o font-green"></i>
            <span class="caption-subject font-green">软件使用协议</span>
        </div>
    </div>
    <div class="portlet-body ">
        <div class="scroller" style="height:300px" data-rail-visible="1">
            
        使用者无论个人或组织、盈利与否、用途如何（包括以学习和研究为目的），均需仔细阅读本协议，在理解、同意、并遵守本协议的全部条款后，方可开始使用本软件。<br>

        <b>1. 协议许可的权利</b><br>
        您可以在完全遵守本最终用户授权协议的基础上，将本软件应用于任何领域（包括商业用途）。<br>
        您可以在协议规定的约束和限制范围内修改本软件源代码或界面风格以适应您的网站要求。<br>
        您拥有使用本软件构建的网站中全部资料、数据及相关信息的所有权，并独立承担与其内容的相关法律义务。<br>

        <b>2. 协议规定的约束和限制</b><br>
        本软件产品所有版权归乙方所有，受《中华人民共和国计算机软件保护条例》等知识产权法律及国际条约与惯例的保护，甲方通过本合同获得本软件的使用权。<br>
        您拥有本授权软件的永久使用权，并且可以根据需要对本软件进行必要的修改和美化，以适应甲方的网站要求。<br>
        您拥有使用本系统过程中收集到的全部会员资料、文章、文字、图片及相关信息的所有权，并独立承担与内容的相关法律义务，我司对此不负任何责任。<br>
        如果您未能遵守本协议的条款，我司有权终止授权，责令您停止损害，并保留追究您的法律责任和相应经济责任。<br>


        <b>3. 有限担保和免责声明</b><br>
        本软件及所附带的文件是作为不提供任何明确的或隐含的赔偿或担保的形式提供的。<br>
        用户出于自愿而使用本软件，您必须了解使用本软件的风险，在尚未购买产品技术服务之前，我们不承诺提供任何形式的技术支持、使用担保，也不承担任何因使用本软件而产生问题的相关责任。<br>
        我司不对使用本软件构建的网站中的文章或信息承担责任，但在不侵犯用户隐私信息的前提下，保留以任何方式获取用户及商品信息的权利。<br>

        有关本软件最终用户授权协议与技术服务的详细内容，均由{$gsname}官方网站独家提供。<br>
        {$gsname}拥有在不事先通知的情况下，修改授权协议和服务价目表的权力，修改后的协议或价目表对自改变之日起的新授权用户生效。<br>
        电子文本形式的授权协议如同双方书面签署的协议一样，具有完全的和等同的法律效力。<br>
        您一旦开始安装本软件，即被视为完全理解并接受本协议的各项条款，在享有上述条款授予的权力的同时，受到相关的约束和限制协议许可范围以外的行为，将直接违反本授权协议并构成侵权，我们有权随时终止授权，责令停止损害，并保留追究相关责任的权力。<br>
            <br>
        {$gsname}

        </div>
    </div>
    <div class="portlet-title" style="min-height: 18px;">
    </div>
    <div class="portlet-body text-center">
        <a href="{$next_url}" class="btn btn-success"> 同意协议 </a>
    </div>
</div>

{template "install/footer.html"}